{% extends "base.html" %}

{% block title %}{{ dish.name }}{% endblock %}

{% block content %}
    <h1>{{ dish.name }}</h1>
    <hr>
    <h2>Add Ingredient</h2>
    <form action="{{ url_for('add_ingredient_to_dish', dish_id=dish.id) }}" method="post">
        <label for="ingredient">Ingredient:</label><br>
        <select id="ingredient" name="ingredient">
            {% for ingredient in ingredients %}
                <option value="{{ ingredient.id }}">{{ ingredient.name }}</option>
            {% endfor %}
        </select><br>
        <label for="quantity">Quantity:</label><br>
        <input type="text" id="quantity" name="quantity"><br><br>
        <input type="submit" value="Add Ingredient">
    </form>
    <hr>
    <h2>Ingredients</h2>
    <table>
        <tr>
            <th>Ingredient</th>
            <th>Quantity</th>
        </tr>
        {% for ingredient in dish.ingredients %}
            <tr>
                <td>{{ ingredient.name }}</td>
                <td>{{ ingredient_quantities[ingredient.id] }}</td>
            </tr>
        {% endfor %}
    </table>
    <hr>
    <a href="{{ url_for('index') }}">Back to Home</a>
{% endblock %}
