{% extends "base.html" %}

{% block content %}
    <div class="form-container">
        <h2>Edit Ingredient</h2>
        <form action="{{ url_for('edit_ingredient', ingredient_id=ingredient.id) }}" method="post">
            <label for="ingredient_name">Name:</label>
            <input type="text" id="ingredient_name" name="ingredient_name" value="{{ ingredient.name }}">
            <label for="quantity">Quantity:</label>
            <input type="text" id="quantity" name="quantity" value="{{ ingredient.quantity }}">
            <label for="unit">Unit:</label>
            <input type="text" id="unit" name="unit" value="{{ ingredient.unit }}">
            <input type="submit" value="Update Ingredient">
        </form>
    </div>
    <a href="{{ url_for('index') }}">Back to Home</a>
{% endblock %}
