{% extends "base.html" %}

{% block content %}
    <h1>Shopping List</h1>
    <p>This is a list of all ingredients that are at or below their restock threshold.</p>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Current Quantity</th>
                <th>Restock Threshold</th>
            </tr>
        </thead>
        <tbody>
            {% for ingredient in shopping_list %}
                <tr>
                    <td>{{ ingredient.name }}</td>
                    <td>{{ ingredient.quantity }}</td>
                    <td>{{ ingredient.threshold }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('index') }}">Back to Home</a>
{% endblock %}
